@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
    font-family: "Poppins", sans-serif;
}

.a1{
    position: relative;
}

.team-ban-bg{
    position: absolute;
    top: 50px;
    left: 50px;
}

.c1{
    position: absolute;
    top: 1px;
    left: 200px;
    width: 500px;
}

.btn1{
    background: #EF4123;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 20px;
    float: left;

}

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.b2{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.vn-trophyBtn{
    position: absolute;
    top: 130px;
    left: 1px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 40px;
    padding: 3px 15px;
    width: auto;
}

.vn-trophyBtn span{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(90.15deg, #EF4123 -4.45%, #EF7923 118.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-thumbnail {
    height: 150px;
}

.table {
    background: linear-gradient(180deg, #FCCA06 0%, #F25C19 100%);
    border: 2px solid #F25C19;
}

#a2 {
    margin-top: ;
    width: 400px;
}